body {
    font-family: "Vesper Libre";
    color: #1a1a1a;
    line-height: 1.5;
    font-size: 1.125rem;
}

img {
    width: 100%;
}

figcaption, .article-category, .sub-title, .author, time {
    font-family: "Open Sans";
}

.article-category {
    text-transform: uppercase;
    font-size: .85rem;
    border-bottom: 2px solid #ff3530;
    display: inline;
}